@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primary-color: #5296f2;
  --text-color: rgb(255, 255, 255);
  --input-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --btn-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.morphism {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 0.5px solid rgba(255, 255, 255, 0.18);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 15px;
  box-shadow: var(--btn-shadow);
  cursor: pointer;
}
